---
import TarjetaTutoriales from "@/components/TarjetaTutoriales.astro";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const articuloDescripcion = [
  {
    titulo: "Introducción a JavaScript",
    descripcionPrevia:
      "Aprende los fundamentos básicos del lenguaje y su importancia en el desarrollo web.",
    url: "/",
    tag: "Principiante",
  },
  {
    titulo: "Variables y Tipos de Datos",
    descripcionPrevia:
      "Explora los diferentes tipos de datos y cómo trabajar con variables en JavaScript.",
    url: "/",
    tag: "Principiante",
  },
  {
    titulo: "Funciones y Scope",
    descripcionPrevia:
      "Domina el concepto de funciones y comprende el alcance de las variables.",
    url: "/",
    tag: "Intermedio",
  },
  {
    titulo: "Arrays y Objetos",
    descripcionPrevia:
      "Aprende a trabajar con estructuras de datos complejas en JavaScript.",
    url: "/",
    tag: "Intermedio",
  },
];

const articulos = await getCollection("articles")
---

<Layout tituloPagina="Tutoriales">
  <section>
    <div>
      <h1>Tutoriales de JavaScript</h1>
    </div>
    <article>
      {
        articulos.map((articulo) => (
          <TarjetaTutoriales  
          titulo={articulo.data.titulo}
          descripcionPrevia={articulo.data.descripcionPrevia}
          tag={articulo.data.tag}
          slug={articulo.slug}
          />
        ))
      }
    </article>
  </section>
</Layout>

<style>
  section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 20px;
    gap: 30px;
  }

  
  article{
    width: 100%;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  
  div{
    height: 20vh;
    display: flex;
    align-items: center;  
  }
</style>
