---
import Layout from "@/layouts/Layout.astro";
---

<Layout tituloPagina="Acerca de">
  <section>
    <h1>Acerca de Este Proyecto</h1>
    <article></article>
  </section>
</Layout>

<style>
  section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 20px;
  }

  article {
    width: 100%;
    margin-top: 25px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  h1 {
    color: white;
  }
</style>
