---
import Layout from '@/layouts/Layout.astro';
import ArticulosRecientes from '@/sections/index/ArticulosRecientes.astro';
import Hero from '@/sections/index/Hero.astro';
import VerTutorialesSeccion from '@/sections/index/VerTutorialesSeccion.astro';
---	

<Layout tituloPagina='Aprender Javascript'>
	<Hero 
	tituloSeccion='Aprender Javascript desde Cero'
	subtituloSeccion='Domina el lenguaje de programación más popular de la web con tutoriales prácticos y ejemplos del mundo real'
	/> 
	<section>	
		<ArticulosRecientes />
		
		<VerTutorialesSeccion 
		titulo='¿Listo para empezar?'
		descripcion='Comienza tu viaje en el mundo de la programación JavaScript.'
		/>
	</section>
</Layout>

<style>
	section{
		display: flex;
		flex-direction: column;
		gap: 30px;
		padding: 20px;
	}
</style>
