---
import Layout from '@/layouts/Layout.astro';
import ArticulosRecientes from '@/sections/index/ArticulosRecientes.astro';
import Hero from '@/sections/index/Hero.astro';
import VerTutorialesSeccion from '@/sections/index/VerTutorialesSeccion.astro';
---	

<Layout tituloPagina='Aprender Javascript'>
	<Hero 
	tituloSeccion='JavaScript sin ruido. Claro. Moderno. Útil.'
	subtituloSeccion='Aprende con guías prácticas, patrones y ejemplos del mundo real diseñados para acelerar tu aprendizaje.'
	/> 
	<section>	
		<ArticulosRecientes />
		
		<VerTutorialesSeccion 
		titulo='¿Listo para empezar?'
		descripcion='Comienza tu viaje en el mundo de la programación JavaScript.'
		/>
	</section>
</Layout>

<style>
	section{
		display: flex;
		flex-direction: column;
		gap: 30px;
		padding: 20px;
	}

	@media only screen and (min-width: 1024px){
    section{
      padding: 0px;
    }
  }
</style>
