---
import TarjetaRecursos from "@/components/TarjetaRecursos.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout tituloPagina="Recursos">
  <section>
    <div>
      <h1>Recursos de aprendizaje</h1>
    </div>
    <article>
      <TarjetaRecursos
        titulo="MDN Web Docs"
        descripcionPrevia="La documentaci칩n m치s completa sobre JavaScript, mantenida por Mozilla."
        url="https://developer.mozilla.org/es/docs/Web/JavaScript"
      />

      <TarjetaRecursos
        titulo="JavaScript Info"
        descripcionPrevia="Una colecci칩n de recursos y tutoriales sobre JavaScript."
        url="https://javascript.info/"
      />

      <TarjetaRecursos
        titulo="Devdocs io"
        descripcionPrevia="Una pagina que recopila de manera sencilla la documentaci칩n de JavaScript."
        url="https://devdocs.io/javascript/"
      />
    </article>
  </section>
</Layout>

<style>
  section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
    gap: 30px;
  }

  div {
    height: 20vh;
    display: flex;
    align-items: center;
  }

  article {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
  }
</style>
