---
import Boton from "@/components/Boton.astro";
import Resaltador from "@/components/Resaltador.astro";
import Layout from "@/layouts/Layout.astro";
import redirectIcon from "@/assets/iconos/redirect.svg"
import docIcon from "@/assets/iconos/doc.svg"
---

<Layout tituloPagina="Sobre mi">
  <div class="contenedor-datos">
    <figure>
      <img src="imagenes/perfil/trunks.jpg" alt="img perfil" />
      <h3>Desarrollador web</h3>
    </figure>
    <article class="contenedor-datos--perfil">
      <div class="info">
        <article>
          <h2>Sobre mí</h2>
          <p>
            Soy Orlando, desarrollador web centrado en JavaScript. Me encanta
            crear interfaces limpias, accesibles y con buenas prácticas. Aquí
            comparto lo que voy aprendiendo.
          </p>
          <div class="resaltadores">
            <Resaltador texto="JavaScript"/>
            <Resaltador texto="TypeScript"/>
            <Resaltador texto="React"/>
          </div>
        </article>
      </div>
      <div class="contenedor-botones">
        <Boton 
        titulo="Portafolio" 
        url="https://portafolio-orlando-tellez-ot.vercel.app/" 
        clase="portafolio"
        linkExterno={true}
        >
          <img src={redirectIcon.src} alt="redirect icon">
        </Boton>

        <Boton 
        titulo="CV" 
        url="cv-orlandogabrieltellez.pdf" 
        clase="cv"
        linkExterno={true}
        >
          <img src={docIcon.src} alt="doc icon">
        </Boton>
      </div>
    </article>
  </div>
</Layout>

<style>
  .contenedor-datos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: var(--ancho-maximo);
  }

  figure {
    width: 200px;
  }

  img {
    border-radius: 100%;
    max-width: 100%;
  }

  .contenedor-botones {
    display: flex;
    gap: 20px;
  }

  .contenedor-botones a {
    background-color: var(--color-bordes);
    padding: 10px 20px;
    border-radius: 10px;
  }

  .contenedor-botones a:nth-of-type(2) {
    background-color: var(--color-botones-relevantes);
  }

  p {
    color: var(--color-texto-sombreado);
    margin-bottom: 20px;
  }

  .resaltadores{
    display: flex;
  }

  @media only screen and (min-width: 1024px) {
    section {
      text-align: start;
      justify-content: start;
      padding-top: 50px;
    }

    .contenedor-datos {
      width: 100%;
      flex-direction: row;
      gap: 40px;
    }

    figure {
      width: 150px;
    }

    .resaltadores{
      display: flex;
      gap: 10px;
    }

    .contenedor-datos--perfil {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .info {
      display: flex;
      justify-content: start;
      align-items: start;
    }

    .info article{
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
    }

    .info article h2 {
      font-size: 2.25rem;
    }

    .info article p{
      font-size: 1.2rem;
      text-align: start;
      max-width: 650px;
    }
  }
</style>
