---
import TarjetaArticulosRecientes from "@/components/TarjetaArticulosRecientes.astro";

const titulo = "Articulos Recientes";

const articulosRecientes = [
  {
    titulo: "Funciones Asíncronas y async/await",
    descripcion:
      "Las funciones asíncronas son una característica clave de JavaScript que permite manejar operaciones asíncronas de forma más clara y sencilla.",
    url: "tutoriales/24-async-await",
  },
  {
    titulo: "this en funciones y Closures en JavaScript",
    descripcion:
      "son esenciales para escribir código limpio y efectivo.",
    url: "tutoriales/14-this-closures",
  },
  {
    titulo: "Callbacks y Promesas",
    descripcion:
      "Domina el concepto de funciones y cómo utilizarlas efectivamente.",
    url: "tutoriales/13-callbacks-promesas",
  },
];
---

<section>
  <h2>{titulo}</h2>
  <div>
    {
      articulosRecientes.map((articulo) => (
        <TarjetaArticulosRecientes {...articulo} />
      ))
    }
  </div>
</section>

<style>
  section {
    width: 100%;
    padding: 80px 0px;
  }

  h2{
    width: 100%;
    text-align: center;
    font-size: 2.25rem;
  }

  div {
    width: 100%;
    margin-top: 25px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
</style>
