---
import Boton from "@/components/Boton.astro";
import Resaltador from "@/components/Resaltador.astro";

interface Props {
  tituloSeccion: string;
  subtituloSeccion: string;
}

const { tituloSeccion, subtituloSeccion } = Astro.props;
---

<section>
  <Resaltador texto="Nuevo artículo cada semana"/>
  <h1>{tituloSeccion}</h1>
  <p>{subtituloSeccion}</p>
  <div class="container-btn">
    <Boton titulo="Ver tutoriales" url="/tutoriales" clase="btn-principal" />
    <Boton titulo="Ver recursos" url="/recursos" clase="btn-secundario" />
  </div>
</section>

<style>
  section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 15px;
    margin-top: 100px;
    padding: 50px 20px;
  }

  h1 {
    font-size: 4.5rem;
    color: var(--color-fuente);
  }

  p {
    font-size: 1.125rem;
  }

  a {
    color: var(--color-fuente);
    padding: 10px 20px;
    background-color: var(--color-secundario);
    border-radius: 10px;
  }

  a:hover {
    background-color: var(--color-fuente);
    color: var(--color-secundario);
  }

  .container-btn {
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 15px;
    margin-top: 20px;
  }

  
</style>
