---
interface Props{
    titulo: string;
    slug: string
}

const{titulo, slug} = Astro.props
---

<a href=`/tutoriales/${slug}`>{titulo}</a>

<style>
    a{
        color: var(--color-fuente-modo-oscuro);
        padding: 5px 20px;
        border-radius: 10px;
        background-color: #001F3F;
    }
</style>