---
interface Props{
    titulo: string;
    url: string;
    clase: string;
}

const{titulo, url, clase} = Astro.props
---

<a href={url} class={clase}>{titulo}</a>

<style>
    a{
        padding: 20px 40px;
        border-radius: 10px;
    }

    .btn-principal{
        background-color: var(--color-secundario);
    }

    .btn-secundario{
        border: 1px solid var(--border-color);
    }
</style>