<footer>
    <p>© 2025 Aprende JavaScript. Todos los derechos reservados.</p>
</footer>

<style>
    footer{
        width: 100%;
        padding: 20px;
        background-color: var(--color-secundario);
        color: var(--color-fuente-fechas);
        text-align: center;
}
</style>