---
import BotonTarjetaArticulos from './BotonTarjetaArticulos.astro';

interface Props {
    titulo: string;
    descripcionPrevia: string;
    tag: string;
    slug: string;
}
const {titulo, descripcionPrevia, tag, slug} = Astro.props
---

<article>
    <h2>{titulo}</h2>
    <p>{descripcionPrevia}</p>
    <div>
        <p>{tag}</p>
        <BotonTarjetaArticulos 
        titulo='Leer más ->'
        slug={slug}
        />
    </div>
</article>

<style>
    article{
        display: flex;
        flex-direction: column;
        background-color: var(--color-secundario-oscuro);
        justify-content: space-between;
        border-radius: 15px;
        padding: 20px;
        gap: 15px;
    }

    p{
        color: #818181;
    }

    div{
        display: flex;
        justify-content: space-between;
        
        && p{
            color: #578E7E;
            font-weight: bold;
        }
    }
</style>