---
// Supports weights 100-900
import '@fontsource-variable/inter';

interface Props{
	tituloPagina: string;
}

const {tituloPagina} = Astro.props

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{tituloPagina}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	:root{
		--color-principal-oscuro: #212737;
		--color-secundario-oscuro: #2a3447;
		--color-fuente-modo-oscuro: #60a5fa; 
	}

	*{
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}

	

	body{
		font-family: 'Inter Variable', sans-serif;
		background-color: var(--color-principal-oscuro);
		color: var(--color-fuente-modo-oscuro);
	}

	
    
</style>
