---
import "@fontsource-variable/inter";
import "@fontsource-variable/plus-jakarta-sans";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";

interface Props {
  tituloPagina: string;
}

const { tituloPagina } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo-3d.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{tituloPagina}</title>
  </head>
  <body>
    
    <Header />
    <div class="container-slot">
      <slot />
    </div>
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    --color-blanco: #ffffff;
    --ancho-maximo: 1024px;
  }

  [data-theme="light"] {
    --color-principal: #ffffff;
    --color-secundario: #f0f4f8;
    --color-span: #2f2f2f;
    --border-color: #000000;
    --color-fuente: #020d22;
    --color-boton: #d1d5db;
    --color-fuente-fechas: #4b5563;
  }

  [data-theme="dark"] {
    --color-principal: #000000;
    --color-secundario: #121212;
    --color-span: #2f2f2f;
    --border-color: #4b4b4b;
    --color-fuente: #c5c5c5;
    --color-boton: #354b6b;
    --color-fuente-fechas: #9ca1a1;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html {
    background-color: var(--color-principal);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  body {
    width: 100%;
    font-family: "Plus Jakarta Sans Variable", sans-serif;
    color: var(--color-blanco);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-principal);
    color: var(--color-fuente);
    transition: inherit;
  }

  h1 {
    font-size: 40px;
    color: var(--color-fuente);
  }

  h2 {
    font-size: 23px;
    color: var(--color-fuente);
  }

  h3 {
    font-size: 22px;
  }

  p {
    font-size: 14px;
  }

  a {
    text-decoration: none;
    color: var(--color-fuente);
  }

  li {
    list-style: none;
  }

  .fecha {
    color: var(--color-fuente-fechas);
  }

  .container-slot {
    width: 100%;
    max-width: var(--ancho-maximo);
  }
</style>
