---
import "@fontsource-variable/inter";
import Header from "@/components/Header.astro";
import Footer from "@/secciones/Footer.astro";

interface Props {
  tituloPagina: string;
}

const { tituloPagina } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo-3d.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{tituloPagina}</title>
  </head>
  <body>
    <Header />
    <div class="container-slot">
      <slot />
    </div>
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    --color-principal: #020d22;
    --color-secundario: #0b1726;
    --color-fuente: #ffffff;
    --color-boton: #354b6b;
    --color-fuente-fechas: #9ca1a1;
    --color-negro: #000000;
    --ancho-maximo: 1024px;
  }

  [data-theme="light"] {
    --color-principal: #ffffff;
    --color-secundario: #f0f4f8;
    --color-fuente: #020d22;
    --color-boton: #d1d5db;
    --color-fuente-fechas: #4b5563;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html {
    background-color: var(--color-principal);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  body {
    width: 100%;
    font-family: "Inter Variable", sans-serif;
    color: var(--color-negro);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-slot {
    padding: 50px 20px;
    width: 100%;
    max-width: var(--ancho-maximo);
  }

  h1 {
    font-size: 40px;
    color: var(--color-fuente);
  }

  h2 {
    font-size: 23px;
    color: var(--color-fuente);
  }

  h3 {
    font-size: 22px;
  }

  p {
    font-size: 14px;
  }

  a {
    text-decoration: none;
    color: var(--color-fuente);
  }

  li {
    list-style: none;
  }

  .container-slot h1,
  .container-slot h2,
  .container-slot h3,
  .container-slot h4,
  .container-slot h5,
  .container-slot h6 {
    margin-top: 1.5em; 
    margin-bottom: 0.5em; 
    line-height: 1.2; 
    font-weight: bold;
    color: var(--color-fuente);
  }

  .container-slot h1 {
    font-size: 2.5rem;
    border-bottom: 2px solid #ddd; 
    padding-bottom: 0.3em;
  }

  .container-slot h2 {
    font-size: 2rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.2em;
  }

  .container-slot h3 {
    font-size: 1.75rem;
  }

  .container-slot h4 {
    font-size: 1.5rem;
  }

  .container-slot h5 {
    font-size: 1.25rem;
  }

  .container-slot h6 {
    font-size: 1rem;
    color: var(--color-fuente);
  }


  .container-slot p {
    margin: 1em 0; 
    font-size: 1rem;
    color: var(--color-fuente);
  }

  .container-slot ul,
  .container-slot ol {
    margin: 1em 0; 
    padding-left: 2em; 
  }

  .container-slot li {
    margin-bottom: 0.5em; 
    color: var(--color-fuente);
  }

  .container-slot a {
    color: #0070f3; 
    text-decoration: underline;
    
  }

  .container-slot a:hover {
    color: #0056b3; 
    text-decoration: none;
  }

  .container-slot pre {
    padding: 1em;
    border-radius: 5px;
    overflow-x: auto; 
    margin: 1.5em 0;
    background-color: #02111e  !important  ;

  }

  .container-slot code {
    font-family: "Courier New", monospace; 
    padding: 0.2em 0.4em;
    border-radius: 3px;
  }

  .container-slot blockquote {
    border-left: 4px solid #ddd;
    padding-left: 1em;
    margin: 1em 0;
    font-style: italic;
    color: #ffffff;
  }

  .container-slot table {
    width: 100%;
    border-collapse: collapse; 
    margin: 1.5em 0;
    color: var(--color-fuente);
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    
  }

  .container-slot th,
  .container-slot td {
    border: 1px solid #ddd;
    padding: 0.75em;
    text-align: left;
  }

  .container-slot th {
    background: var(--color-secundario);
    font-weight: bold;
  }

  .container-slot hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 2em 0;
  }
</style>
