<footer>
    <p>© 2024 Aprende JavaScript. Todos los derechos reservados.</p>
</footer>

<style>
    footer{
        padding: 20px;
        background-color: var(--color-secundario-oscuro);
        color: var(--color-fuente-fechas);
        text-align: center;
}
</style>