---
interface Props{
    tituloSeccion: string;
    subtituloSeccion: string ;
}

const {tituloSeccion, subtituloSeccion} = Astro.props

---


<section>
    <h1>{tituloSeccion}</h1>
    <p>{subtituloSeccion}</p>
</section>

<style>
    section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

</style>